## Load Data

In [1]:
import pandas as pd

url = 'https://drive.google.com/file/d/1S0CtDB8NYUs94KgO0VDv6b2R1CShQcLF/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
links = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1sW3zww6gMzoln0-U0Zs7HW_bKYjtH99i/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
movies = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1nUpoWkhzhnYtUFvGYTR317RHiq7XtTx9/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
ratings = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1F9szBIzHvE9sk-p89sk1zpxVEG_gJezg/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
tags = pd.read_csv(path)

In [2]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
ratings['rating'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

## Populatity ranking code

In [ ]:
ratings.groupby("movieId").rating.mean().sort_values(ascending=False)

movieId
88448     5.0
100556    5.0
143031    5.0
143511    5.0
143559    5.0
         ...
157172    0.5
85334     0.5
53453     0.5
8494      0.5
71810     0.5
Name: rating, Length: 9724, dtype: float64

In [ ]:
rating_score = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
rating_score.sort_values("rating", ascending=False).head()

         rating
movieId
88448       5.0
100556      5.0
143031      5.0
143511      5.0
143559      5.0

In [ ]:
rating_score['rating_count'] = ratings.groupby('movieId')['rating'].count()
#rating.sort_values("rating_count", ascending=False).head()
rating_score

           rating  rating_count
movieId
1        3.920930           215
2        3.431818           110
3        3.259615            52
4        2.357143             7
5        3.071429            49
...           ...           ...
193581   4.000000             1
193583   3.500000             1
193585   3.500000             1
193587   3.500000             1
193609   4.000000             1

[9724 rows x 2 columns]

In [ ]:
rating_score['total_score_m1'] = rating_score['rating'] * rating_score['rating_count']
rating_score.sort_values(by="total_score_m1", ascending=False).head(20)

           rating  rating_count  total_score_m1
movieId
318      4.429022           317          1404.0
356      4.164134           329          1370.0
296      4.197068           307          1288.5
2571     4.192446           278          1165.5
593      4.161290           279          1161.0
260      4.231076           251          1062.0
110      4.031646           237           955.5
2959     4.272936           218           931.5
527      4.225000           220           929.5
480      3.750000           238           892.5
589      3.970982           224           889.5
1196     4.215640           211           889.5
50       4.237745           204           864.5
1        3.920930           215           843.0
1198     4.207500           200           841.5
2858     4.056373           204           827.5
858      4.289062           192           823.5
4993     4.106061           198           813.0
1210     4.137755           196           811.0
47       3.975369           203           807.0

In [ ]:
rating_score['total_score_m2'] = rating_score['rating'] * (rating_score['rating_count']**0.5)
rating_score.sort_values(by="total_score_m2", ascending=False).head(20)

           rating  rating_count  total_score_m1  total_score_m2
movieId
318      4.429022           317          1404.0       78.856496
356      4.164134           329          1370.0       75.530545
296      4.197068           307          1288.5       73.538579
2571     4.192446           278          1165.5       69.902045
593      4.161290           279          1161.0       69.507252
260      4.231076           251          1062.0       67.032846
2959     4.272936           218           931.5       63.089141
527      4.225000           220           929.5       62.666877
110      4.031646           237           955.5       62.066395
1196     4.215640           211           889.5       61.235705
50       4.237745           204           864.5       60.527107
1198     4.207500           200           841.5       59.503036
589      3.970982           224           889.5       59.432219
858      4.289062           192           823.5       59.430993
2858     4.056373           204           827.5       57.936588
1210     4.137755           196           811.0       57.928571
480      3.750000           238           892.5       57.852182
4993     4.106061           198           813.0       57.777394
1        3.920930           215           843.0       57.492123
2028     4.146277           188           779.5       56.850880

In [ ]:
rating_score = pd.merge(movies, rating_score, how='inner', on="movieId")
rating_score = rating_score[["movieId", "title", "rating", "rating_count", "total_score_m1", "total_score_m2"]]
rating_score.sort_values(by="total_score_m2", ascending=False).head(10)

,movieId,title,rating,rating_count,total_score_m1,total_score_m2
277,318,"Shawshank Redemption, The (1994)",4.429022,317,1404.0,78.856496
314,356,Forrest Gump (1994),4.164134,329,1370.0,75.530545
257,296,Pulp Fiction (1994),4.197068,307,1288.5,73.538579
1938,2571,"Matrix, The (1999)",4.192446,278,1165.5,69.902045
510,593,"Silence of the Lambs, The (1991)",4.161290,279,1161.0,69.507252
224,260,Star Wars: Episode IV - A New Hope (1977),4.231076,251,1062.0,67.032846
2224,2959,Fight Club (1999),4.272936,218,931.5,63.089141
461,527,Schindler's List (1993),4.225000,220,929.5,62.666877
97,110,Braveheart (1995),4.031646,237,955.5,62.066395
897,1196,Star Wars: Episode V - The Empire Strikes Back...,4.215640,211,889.5,61.235705

In [ ]:
rating_score.sort_values(by="total_score_m1", ascending=False).head(10)

,movieId,title,rating,rating_count,total_score_m1,total_score_m2
277,318,"Shawshank Redemption, The (1994)",4.429022,317,1404.0,78.856496
314,356,Forrest Gump (1994),4.164134,329,1370.0,75.530545
257,296,Pulp Fiction (1994),4.197068,307,1288.5,73.538579
1938,2571,"Matrix, The (1999)",4.192446,278,1165.5,69.902045
510,593,"Silence of the Lambs, The (1991)",4.161290,279,1161.0,69.507252
224,260,Star Wars: Episode IV - A New Hope (1977),4.231076,251,1062.0,67.032846
97,110,Braveheart (1995),4.031646,237,955.5,62.066395
2224,2959,Fight Club (1999),4.272936,218,931.5,63.089141
461,527,Schindler's List (1993),4.225000,220,929.5,62.666877
418,480,Jurassic Park (1993),3.750000,238,892.5,57.852182

### popularity and genre ranking

The popularity-based recommender should include, at least one movie from each of these genres:

    Comedy
    Drama
    Thriller
    Sci-Fi
    Childre

In [ ]:
movies_split = movies.genres.str.split('|', expand=False)
movies['genres_as_list'] = movies_split
movies

,movieId,title,genres,genres_as_list
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]"
9739,193585,Flint (2017),Drama,[Drama]
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,"[Action, Animation]"
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,[Comedy]

In [ ]:
movies[movies['genres'].str.contains("Comedy|Drama|Thriller|Sci-Fi|Children")]

,movieId,title,genres,genres_as_list
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]
...,...,...,...,...
9734,193571,Silver Spoon (2014),Comedy|Drama,"[Comedy, Drama]"
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]"
9739,193585,Flint (2017),Drama,[Drama]
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,[Comedy]

In [ ]:
rating_score_genres = rating_score.merge(movies)
rating_score_genres = rating_score_genres[["movieId", 'title', "rating", "total_score_m1", "total_score_m2","genres", "genres_as_list"]]
rating_score_genres

,movieId,title,rating,total_score_m1,total_score_m2,genres,genres_as_list
0,1,Toy Story (1995),3.920930,843.0,57.492123,Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),3.431818,377.5,35.993213,Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),3.259615,169.5,23.505421,Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),2.357143,16.5,6.236414,Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),3.071429,150.5,21.500000,Comedy,[Comedy]
...,...,...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),4.000000,4.0,4.000000,Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]"
9720,193583,No Game No Life: Zero (2017),3.500000,3.5,3.500000,Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]"
9721,193585,Flint (2017),3.500000,3.5,3.500000,Drama,[Drama]
9722,193587,Bungo Stray Dogs: Dead Apple (2018),3.500000,3.5,3.500000,Action|Animation,"[Action, Animation]"
9723,193609,Andrew Dice Clay: Dice Rules (1991),4.000000,4.0,4.000000,Comedy,[Comedy]

In [ ]:
#rating_score_genres.assign(boolean =rating_score_genres['genres'].str.contains("Comedy|Drama|Thriller|Sci-Fi|Children"))
rating_score_genres = rating_score_genres.assign(comedy =rating_score_genres['genres'].str.contains("Comedy"))
rating_score_genres = rating_score_genres.assign(drama =rating_score_genres['genres'].str.contains("Drama"))
rating_score_genres = rating_score_genres.assign(thriller =rating_score_genres['genres'].str.contains("Thriller"))
rating_score_genres = rating_score_genres.assign(sciFi =rating_score_genres['genres'].str.contains("Sci-Fi"))
rating_score_genres = rating_score_genres.assign(children =rating_score_genres['genres'].str.contains("Children"))
rating_score_genres

,movieId,title,rating,total_score_m1,total_score_m2,genres,genres_as_list,comedy,drama,thriller,sciFi,children
0,1,Toy Story (1995),3.920930,843.0,57.492123,Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",True,False,False,False,True
1,2,Jumanji (1995),3.431818,377.5,35.993213,Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]",False,False,False,False,True
2,3,Grumpier Old Men (1995),3.259615,169.5,23.505421,Comedy|Romance,"[Comedy, Romance]",True,False,False,False,False
3,4,Waiting to Exhale (1995),2.357143,16.5,6.236414,Comedy|Drama|Romance,"[Comedy, Drama, Romance]",True,True,False,False,False
4,5,Father of the Bride Part II (1995),3.071429,150.5,21.500000,Comedy,[Comedy],True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),4.000000,4.0,4.000000,Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]",True,False,False,False,False
9720,193583,No Game No Life: Zero (2017),3.500000,3.5,3.500000,Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]",True,False,False,False,False
9721,193585,Flint (2017),3.500000,3.5,3.500000,Drama,[Drama],False,True,False,False,False
9722,193587,Bungo Stray Dogs: Dead Apple (2018),3.500000,3.5,3.500000,Action|Animation,"[Action, Animation]",False,False,False,False,False
9723,193609,Andrew Dice Clay: Dice Rules (1991),4.000000,4.0,4.000000,Comedy,[Comedy],True,False,False,False,False

In [ ]:
#print(rating_score.sort_values(by="total_score_m1", ascending=False).head(10))
values = rating_score_genres[(rating_score_genres.comedy.count() > 0) and (rating_score_genres.drama.count() > 0) and (rating_score_genres.children.count() > 0)].sort_values(by=['total_score_m1'], ascending=False).head(10)

KeyError: ignored

### Prepare User/Item Matrix

In [ ]:
movies

,movieId,title,genres,genres_as_list
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]"
9739,193585,Flint (2017),Drama,[Drama]
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,"[Action, Animation]"
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,[Comedy]

In [ ]:
movies['movieId'].duplicated().sum()

0

In [ ]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
#tags

In [ ]:
#links

In [ ]:
movies_ratings = pd.merge(movies, ratings, how='outer', on="movieId")
movies_ratings = movies_ratings[["userId", "movieId", "rating"]]
movies_ratings

        userId  movieId  rating
0          1.0        1     4.0
1          5.0        1     4.0
2          7.0        1     4.5
3         15.0        1     2.5
4         17.0        1     4.5
...        ...      ...     ...
100849   184.0   193581     4.0
100850   184.0   193583     3.5
100851   184.0   193585     3.5
100852   184.0   193587     3.5
100853   331.0   193609     4.0

[100854 rows x 3 columns]

In [ ]:
movies_ratings[movies_ratings.isna().any(axis=1)]

       userId  movieId  rating
22820     NaN     1076     NaN
49539     NaN     2939     NaN
53555     NaN     3338     NaN
54467     NaN     3456     NaN
60535     NaN     4194     NaN
68396     NaN     5721     NaN
71896     NaN     6668     NaN
72428     NaN     6849     NaN
73354     NaN     7020     NaN
75450     NaN     7792     NaN
76859     NaN     8765     NaN
77983     NaN    25855     NaN
78026     NaN    26085     NaN
79080     NaN    30892     NaN
79426     NaN    32160     NaN
79459     NaN    32371     NaN
80506     NaN    34482     NaN
92639     NaN    85565     NaN

In [ ]:
movies_ratings.isna().sum()

userId     18
movieId     0
rating     18
dtype: int64

In [ ]:
user_movies_matrix = pd.pivot_table(data=movies_ratings, values='rating', index='userId', columns='movieId')
user_movies_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
user_movies_matrix.isnull().any()

movieId
1         True
2         True
3         True
4         True
5         True
          ...
193581    True
193583    True
193585    True
193587    True
193609    True
Length: 9724, dtype: bool

## Item-Based function

In [ ]:
# function with Pearson Correlation: 
def n_most_similar (movie_id ,n=10): 
  results_popularity  = rating_score.sort_values(by="total_score_m1", ascending=False).head(10)
  similar_to_id = user_movies_matrix.corrwith(user_movies_matrix[movie_id])
  corr_id = pd.DataFrame(similar_to_id, columns=['PearsonR'])
  corr_id.dropna(inplace=True)
  rating = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
  rating['rating_count'] = ratings.groupby('movieId')['rating'].count()
  id_corr_summary = corr_id.join(rating['rating_count'])
  id_corr_summary.drop(movie_id, inplace=True)
  top_n = id_corr_summary[id_corr_summary['rating_count']>=10].sort_values('PearsonR', ascending=False)
  top_n = top_n.merge(movies, left_index=True, right_on="movieId")
  # top_n = pd.merge(left=top_n, right=tags, how='left')
  top_n = top_n[['PearsonR', 'rating_count', 'movieId', 'title']]
  results_popularity  = rating_score.sort_values(by="total_score_m1", ascending=False).head(10)
  # get rid of the results from popularity ranking to not recommend movies twice: 
  top_n = top_n.loc[~top_n['movieId'].isin(results_popularity['movieId']), :]
  return top_n.head(n)

In [ ]:
n_most_similar(356, 4)

NameError: ignored

In [ ]:
# function with Pearson Correlation: 
def n_most_similar (movie_id ,n=10): 
  results_popularity  = rating_score.sort_values(by="total_score_m1", ascending=False).head(10)
  similar_to_id = user_movies_matrix.corrwith(user_movies_matrix[movie_id])
  corr_id = pd.DataFrame(similar_to_id, columns=['PearsonR'])
  corr_id.dropna(inplace=True)
  rating = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
  rating['rating_count'] = ratings.groupby('movieId')['rating'].count()
  id_corr_summary = corr_id.join(rating['rating_count'])
  id_corr_summary.drop(movie_id, inplace=True)
  top_n = id_corr_summary[id_corr_summary['rating_count']>=10].sort_values('PearsonR', ascending=False)
  top_n = top_n.merge(movies, left_index=True, right_on="movieId")
  # top_n = pd.merge(left=top_n, right=tags, how='left')
  top_n = top_n[['PearsonR', 'rating_count', 'movieId', 'title']]
  results_popularity  = rating_score.sort_values(by="total_score_m1", ascending=False).head(10)
  # get rid of the results from popularity ranking to not recommend movies twice: 
  top_n = top_n.loc[~top_n['movieId'].isin(results_popularity['movieId']), :]
  return top_n.head(n)

### user based: first attempts

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [ ]:
user_movies_matrix_cos = pd.pivot_table(data=movies_ratings, values='rating', index='userId', columns='movieId')
user_movies_matrix_cos

In [ ]:
user_movies_matrix_cos = user_movies_matrix_cos.fillna(0)
user_movies_matrix_cos

In [ ]:
recommender_matrix = cosine_similarity(user_movies_matrix_cos)
recommender_matrix.shape

In [ ]:
 recommender_df = pd.DataFrame(recommender_matrix, 
                                  columns=user_movies_matrix_cos.index,
                                  index=user_movies_matrix_cos.index)
 recommender_df

In [ ]:
cosine_df = pd.DataFrame(recommender_df[1].sort_values(ascending=False))
cosine_df.drop(1, inplace=True)
cosine_df.reset_index(level=0, inplace=True)
cosine_df.columns = ['userId','cosine_sim']
cosine_df.head(10)

--> from here on the last steps are missing to find the movies

## User based approach: function

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def user_most_similar (user_id, n=5): 
  user_movies_ub = user_movies_matrix.copy()
  user_movies_ub.fillna(0, inplace=True)
  user_similarities = pd.DataFrame(cosine_similarity(user_movies_ub),
                                 columns=user_movies_ub.index, 
                                 index=user_movies_ub.index)
  weights = (
    user_similarities.query("userId!=@user_id")[user_id] / sum(user_similarities.query("userId!=@user_id")[user_id])
          )
  not_rated_movies = user_movies_ub.loc[user_movies_ub.index!=user_id, user_movies_ub.loc[user_id,:]==0]
  weighted_averages = pd.DataFrame(not_rated_movies.T.dot(weights), columns=["predicted_rating"])
  recommendations = weighted_averages.merge(movies, left_index=True, right_on="movieId")
  # get rid of results that have already been recommended in other systems
  results_popularity  = rating_score.sort_values(by="total_score_m1", ascending=False).head(10)
  recommendations = recommendations.loc[~recommendations['movieId'].isin(results_popularity['movieId']), :]
  recommendations = recommendations.loc[~recommendations['movieId'].isin(n_most_similar(356, 10)['movieId']), :]
  return  recommendations.sort_values("predicted_rating", ascending=False).head(n)

In [ ]:
user_most_similar(1, 10)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

,predicted_rating,movieId,title,genres
277,2.654727,318,"Shawshank Redemption, The (1994)",Crime|Drama
507,2.087327,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi
659,1.859548,858,"Godfather, The (1972)",Crime|Drama
2078,1.663564,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery
3638,1.624820,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
123,1.585826,150,Apollo 13 (1995),Adventure|Drama|IMAX
31,1.583809,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
4800,1.502235,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
4137,1.483288,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
506,1.477032,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical

## Model based approach

In [ ]:
pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11.8 MB 3.9 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633963 sha256=8e2717ed9ce842711406b018a1a732be8284d5bde98b9aaff2bd963e46cad150
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [ ]:
import pandas as pd
from surprise import Reader, Dataset, SVD, KNNWithMeans
from surprise.model_selection import cross_validate

In [ ]:
 movies

,movieId,title,genres,genres_as_list
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,"[Animation, Comedy, Fantasy]"
9739,193585,Flint (2017),Drama,[Drama]
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,"[Action, Animation]"
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,[Comedy]

In [ ]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
df = ratings.copy()

In [ ]:
reader = Reader()
data = Dataset.load_from_df(ratings[["userId", "movieId", "rating"]], reader)

# define the algorithms for matrix factorisaton: 
svd = SVD()

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
knn = KNNWithMeans(sim_options=sim_options)

In [ ]:
data

#### predict single value on training data set

In [ ]:
# find a movie user 1 didn't rate
ratings[ratings['userId']==1]

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
1         1        3     4.0  964981247
2         1        6     4.0  964982224
3         1       47     5.0  964983815
4         1       50     5.0  964982931
..      ...      ...     ...        ...
227       1     3744     4.0  964980694
228       1     3793     5.0  964981855
229       1     3809     4.0  964981220
230       1     4006     4.0  964982903
231       1     5060     5.0  964984002

[232 rows x 4 columns]

In [ ]:
# predict single value
trainingSet = data.build_full_trainset()

#fit model
svd.fit(trainingSet)
knn.fit(trainingSet)

prediction_knn = knn.predict(1,2)
prediction_svd = svd.predict(1, 2)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [ ]:
prediction_knn.est

4.348408690785234

In [ ]:
prediction_svd[3]

4.090026412763766

#### predict value using cross_validate first: 
--> I get slightly different results for knn because I define parameters

In [ ]:
from surprise.model_selection import cross_validate
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5)

{'test_rmse': array([0.87632032, 0.8735831 , 0.86866545, 0.8669108 , 0.87736007]),
 'test_mae': array([0.67383433, 0.67230791, 0.66404907, 0.66778178, 0.6723154 ]),
 'fit_time': (5.73980975151062,
  10.117106676101685,
  8.39159083366394,
  5.303460597991943,
  5.325989246368408),
 'test_time': (0.27791714668273926,
  0.47509145736694336,
  0.2750098705291748,
  0.1664433479309082,
  0.17308640480041504)}

In [ ]:
cross_validate(knn, data, measures=['RMSE', 'MAE'], cv=5 )

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

{'test_rmse': array([0.9037778 , 0.89747762, 0.90572843, 0.90252183, 0.90874538]),
 'test_mae': array([0.69063189, 0.68645028, 0.69063584, 0.68806262, 0.69422441]),
 'fit_time': (16.92232370376587,
  16.95529556274414,
  18.14929175376892,
  17.066614151000977,
  16.78140687942505),
 'test_time': (8.093992948532104,
  7.823017120361328,
  8.26099181175232,
  7.9944140911102295,
  7.8918845653533936)}

In [ ]:
svd.predict(1,2)

Prediction(uid=1, iid=2, r_ui=None, est=4.196644697675319, details={'was_impossible': False})

In [ ]:
svd.predict(1,2)[3]

4.196644697675319

In [ ]:
knn.predict(1,2)

Prediction(uid=1, iid=2, r_ui=None, est=4.333143348169787, details={'actual_k': 40, 'was_impossible': False})

In [ ]:
knn.predict(1,2)[3]

4.333143348169787

#### tune model using grid search

In [ ]:
from surprise.model_selection import GridSearchCV

In [ ]:
grid_options = {
    "name": ["msd", "cosine"],
    "min_support": [3, 4, 5],
    "user_based": [False, True],
}

param_grid = {"sim_options": grid_options}

gs = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3, refit=True)
gs.fit(data)

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
0.9039211264455647
{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': True}}

In [ ]:
gs.predict(1,2)

Prediction(uid=1, iid=2, r_ui=None, est=4.223625089610935, details={'actual_k': 40, 'was_impossible': False})

In [ ]:
param_grid = {
    "n_epochs": [5, 10],
    "lr_all": [0.002, 0.005],
    "reg_all": [0.4, 0.6],
    "n_factors": [0],
    "init_mean": [0],
    "init_std_dev": [0]
}

gs_svd = GridSearchCV(SVD, param_grid, measures=["rmse", "mae", "fcp"], cv=3, refit=True)
gs_svd.fit(data)

print(gs_svd.best_score["rmse"])
print(gs_svd.best_params["rmse"])
print(gs_svd.best_score["fcp"])
gs_svd.predict(1,2)

0.8937060073415884
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4, 'n_factors': 0, 'init_mean': 0, 'init_std_dev': 0}
0.6691968570395944

Prediction(uid=1, iid=2, r_ui=None, est=4.07935820719314, details={'was_impossible': False})

In [ ]:
gs_svd.predict(1,2)

Prediction(uid=1, iid=2, r_ui=None, est=4.078182383965266, details={'was_impossible': False})

#### give a list of top-N movies recommended:

In [ ]:
user_movies_not_rated = user_movies_matrix.loc[user_movies_matrix.index == 1, :]
user_movies_not_rated = user_movies_not_rated.loc[:, user_movies_not_rated.columns != 1]
user_movies_not_rated.fillna(0, inplace=True)
user_movies_not_rated = user_movies_not_rated.loc[:, (user_movies_not_rated == 0).any()]

ratings_user = []
not_rated_movies_list = user_movies_not_rated.columns.to_list()

for i in not_rated_movies_list: 
  gs_svd.predict(1,i)[3]
  ratings_user.append(gs_svd.predict(1,i)[3])

ratings_user
new = pd.DataFrame(not_rated_movies_list, ratings_user).reset_index()
new.columns = ['predictions', 'movieId']

model_prediction = new.merge(movies, on="movieId")
model_prediction.sort_values('predictions', ascending=False).head(50)

,predictions,movieId,title,genres,genres_as_list
259,4.735357,318,"Shawshank Redemption, The (1994)",Crime|Drama,"[Crime, Drama]"
560,4.685809,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,"[Comedy, War]"
615,4.668008,858,"Godfather, The (1972)",Crime|Drama,"[Crime, Drama]"
834,4.663515,1204,Lawrence of Arabia (1962),Adventure|Drama|War,"[Adventure, Drama, War]"
642,4.645933,904,Rear Window (1954),Mystery|Thriller,"[Mystery, Thriller]"
6066,4.619123,48516,"Departed, The (2006)",Crime|Drama|Thriller,"[Crime, Drama, Thriller]"
843,4.608146,1221,"Godfather: Part II, The (1974)",Crime|Drama,"[Crime, Drama]"
650,4.602808,912,Casablanca (1942),Drama|Romance,"[Drama, Romance]"
887,4.597893,1276,Cool Hand Luke (1967),Drama,[Drama]
774,4.596867,1104,"Streetcar Named Desire, A (1951)",Drama,[Drama]
3386,4.594054,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...",Comedy|Romance,"[Comedy, Romance]"
636,4.593787,898,"Philadelphia Story, The (1940)",Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
829,4.591501,1199,Brazil (1985),Fantasy|Sci-Fi,"[Fantasy, Sci-Fi]"
2250,4.586872,3275,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller,"[Action, Crime, Drama, Thriller]"
4668,4.584939,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,"[Drama, Romance, Sci-Fi]"
1582,4.575860,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,"[Comedy, Drama, Romance, War]"
6461,4.574715,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,"[Action, Crime, Drama, IMAX]"
1372,4.571230,2019,Seven Samurai (Shichinin no samurai) (1954),Action|Adventure|Drama,"[Action, Adventure, Drama]"
3747,4.567338,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,"[Adventure, Animation, Fantasy]"
659,4.565179,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,"[Drama, Film-Noir, Romance]"
195,4.564009,246,Hoop Dreams (1994),Documentary,[Documentary]
827,4.563877,1193,One Flew Over the Cuckoo's Nest (1975),Drama,[Drama]
845,4.561811,1225,Amadeus (1984),Drama,[Drama]
868,4.561503,1252,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller,"[Crime, Film-Noir, Mystery, Thriller]"
831,4.561150,1201,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,"[Action, Adventure, Western]"
646,4.559912,908,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller,"[Action, Adventure, Mystery, Romance, Thriller]"
2905,4.554687,4226,Memento (2000),Mystery|Thriller,"[Mystery, Thriller]"
4559,4.550246,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,"[Action, Adventure, Drama, Fantasy]"
554,4.549103,741,Ghost in the Shell (KÃ´kaku kidÃ´tai) (1995),Animation|Sci-Fi,"[Animation, Sci-Fi]"
2761,4.548456,4011,Snatch (2000),Comedy|Crime|Thriller,"[Comedy, Crime, Thriller]"
851,4.540775,1233,"Boot, Das (Boat, The) (1981)",Action|Drama|War,"[Action, Drama, War]"
6427,4.540440,57669,In Bruges (2008),Comedy|Crime|Drama|Thriller,"[Comedy, Crime, Drama, Thriller]"
387,4.540044,475,In the Name of the Father (1993),Drama,[Drama]
876,4.536786,1262,"Great Escape, The (1963)",Action|Adventure|Drama|War,"[Action, Adventure, Drama, War]"
7106,4.536122,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,"[Adventure, Animation, Children, Comedy, Fanta..."
445,4.535584,541,Blade Runner (1982),Action|Sci-Fi|Thriller,"[Action, Sci-Fi, Thriller]"
6399,4.534439,56782,There Will Be Blood (2007),Drama|Western,"[Drama, Western]"
3402,4.534158,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,"[Adventure, Fantasy]"
847,4.533149,1228,Raging Bull (1980),Drama,[Drama]
833,4.531779,1203,12 Angry Men (1957),Drama,[Drama]
3938,4.530509,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,"[Action, Adventure, Crime, Drama, Thriller]"
4290,4.529618,6711,Lost in Translation (2003),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
5767,4.528199,38061,Kiss Kiss Bang Bang (2005),Comedy|Crime|Mystery|Thriller,"[Comedy, Crime, Mystery, Thriller]"
545,4.526382,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,"[Adventure, Animation, Comedy]"
858,4.525871,1242,Glory (1989),Drama|War,"[Drama, War]"
637,4.525118,899,Singin' in the Rain (1952),Comedy|Musical|Romance,"[Comedy, Musical, Romance]"
1475,4.524149,2160,Rosemary's Baby (1968),Drama|Horror|Thriller,"[Drama, Horror, Thriller]"
799,4.522597,1148,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,"[Animation, Children, Comedy, Crime]"
853,4.515967,1235,Harold and Maude (1971),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
651,4.511994,913,"Maltese Falcon, The (1941)",Film-Noir|Mystery,"[Film-Noir, Mystery]"

#### give a list of top-N movies recommended - alternative solution from documentation

In [ ]:
from collections import defaultdict
def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [ ]:
# predict single value
trainset = data.build_full_trainset()

# train model on the training data set
#svd.fit(trainset)

# predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = gs_svd.test(testset)

In [ ]:
top_50_user_1 = get_top_n(predictions, n=50)[1]

In [ ]:
df_top_50_user_1 = pd.DataFrame(top_50_user_1, columns=['movieId', 'estimated_rating'])
#df_top_50_user_1

In [ ]:
df_top_50_user_1 = df_top_50_user_1.merge(movies) 
df_top_50_user_1

,movieId,estimated_rating,title,genres,genres_as_list
0,318,4.735357,"Shawshank Redemption, The (1994)",Crime|Drama,"[Crime, Drama]"
1,750,4.685809,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,"[Comedy, War]"
2,858,4.668008,"Godfather, The (1972)",Crime|Drama,"[Crime, Drama]"
3,1204,4.663515,Lawrence of Arabia (1962),Adventure|Drama|War,"[Adventure, Drama, War]"
4,904,4.645933,Rear Window (1954),Mystery|Thriller,"[Mystery, Thriller]"
5,48516,4.619123,"Departed, The (2006)",Crime|Drama|Thriller,"[Crime, Drama, Thriller]"
6,1221,4.608146,"Godfather: Part II, The (1974)",Crime|Drama,"[Crime, Drama]"
7,912,4.602808,Casablanca (1942),Drama|Romance,"[Drama, Romance]"
8,1276,4.597893,Cool Hand Luke (1967),Drama,[Drama]
9,1104,4.596867,"Streetcar Named Desire, A (1951)",Drama,[Drama]
10,4973,4.594054,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...",Comedy|Romance,"[Comedy, Romance]"
11,898,4.593787,"Philadelphia Story, The (1940)",Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
12,1199,4.591501,Brazil (1985),Fantasy|Sci-Fi,"[Fantasy, Sci-Fi]"
13,3275,4.586872,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller,"[Action, Crime, Drama, Thriller]"
14,7361,4.584939,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,"[Drama, Romance, Sci-Fi]"
15,2324,4.575860,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,"[Comedy, Drama, Romance, War]"
16,58559,4.574715,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,"[Action, Crime, Drama, IMAX]"
17,2019,4.571230,Seven Samurai (Shichinin no samurai) (1954),Action|Adventure|Drama,"[Action, Adventure, Drama]"
18,5618,4.567338,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,"[Adventure, Animation, Fantasy]"
19,922,4.565179,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,"[Drama, Film-Noir, Romance]"
20,246,4.564009,Hoop Dreams (1994),Documentary,[Documentary]
21,1193,4.563877,One Flew Over the Cuckoo's Nest (1975),Drama,[Drama]
22,1225,4.561811,Amadeus (1984),Drama,[Drama]
23,1252,4.561503,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller,"[Crime, Film-Noir, Mystery, Thriller]"
24,1201,4.561150,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,"[Action, Adventure, Western]"
25,908,4.559912,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller,"[Action, Adventure, Mystery, Romance, Thriller]"
26,4226,4.554687,Memento (2000),Mystery|Thriller,"[Mystery, Thriller]"
27,7153,4.550246,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,"[Action, Adventure, Drama, Fantasy]"
28,741,4.549103,Ghost in the Shell (KÃ´kaku kidÃ´tai) (1995),Animation|Sci-Fi,"[Animation, Sci-Fi]"
29,4011,4.548456,Snatch (2000),Comedy|Crime|Thriller,"[Comedy, Crime, Thriller]"
30,1233,4.540775,"Boot, Das (Boat, The) (1981)",Action|Drama|War,"[Action, Drama, War]"
31,57669,4.540440,In Bruges (2008),Comedy|Crime|Drama|Thriller,"[Comedy, Crime, Drama, Thriller]"
32,475,4.540044,In the Name of the Father (1993),Drama,[Drama]
33,1262,4.536786,"Great Escape, The (1963)",Action|Adventure|Drama|War,"[Action, Adventure, Drama, War]"
34,78499,4.536122,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,"[Adventure, Animation, Children, Comedy, Fanta..."
35,541,4.535584,Blade Runner (1982),Action|Sci-Fi|Thriller,"[Action, Sci-Fi, Thriller]"
36,56782,4.534439,There Will Be Blood (2007),Drama|Western,"[Drama, Western]"
37,4993,4.534158,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,"[Adventure, Fantasy]"
38,1228,4.533149,Raging Bull (1980),Drama,[Drama]
39,1203,4.531779,12 Angry Men (1957),Drama,[Drama]
40,6016,4.530509,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,"[Action, Adventure, Crime, Drama, Thriller]"
41,6711,4.529618,Lost in Translation (2003),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
42,38061,4.528199,Kiss Kiss Bang Bang (2005),Comedy|Crime|Mystery|Thriller,"[Comedy, Crime, Mystery, Thriller]"
43,720,4.526382,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,"[Adventure, Animation, Comedy]"
44,1242,4.525871,Glory (1989),Drama|War,"[Drama, War]"
45,899,4.525118,Singin' in the Rain (1952),Comedy|Musical|Romance,"[Comedy, Musical, Romance]"
46,2160,4.524149,Rosemary's Baby (1968),Drama|Horror|Thriller,"[Drama, Horror, Thriller]"
47,1148,4.522597,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,"[Animation, Children, Comedy, Crime]"
48,1235,4.515967,Harold and Maude (1971),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
49,913,4.511994,"Maltese Falcon, The (1941)",Film-Noir|Mystery,"[Film-Noir, Mystery]"

In [ ]:
model_prediction.sort_values('predictions', ascending=False).head(50)

,predictions,movieId,title,genres,genres_as_list
259,4.735357,318,"Shawshank Redemption, The (1994)",Crime|Drama,"[Crime, Drama]"
560,4.685809,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,"[Comedy, War]"
615,4.668008,858,"Godfather, The (1972)",Crime|Drama,"[Crime, Drama]"
834,4.663515,1204,Lawrence of Arabia (1962),Adventure|Drama|War,"[Adventure, Drama, War]"
642,4.645933,904,Rear Window (1954),Mystery|Thriller,"[Mystery, Thriller]"
6066,4.619123,48516,"Departed, The (2006)",Crime|Drama|Thriller,"[Crime, Drama, Thriller]"
843,4.608146,1221,"Godfather: Part II, The (1974)",Crime|Drama,"[Crime, Drama]"
650,4.602808,912,Casablanca (1942),Drama|Romance,"[Drama, Romance]"
887,4.597893,1276,Cool Hand Luke (1967),Drama,[Drama]
774,4.596867,1104,"Streetcar Named Desire, A (1951)",Drama,[Drama]
3386,4.594054,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...",Comedy|Romance,"[Comedy, Romance]"
636,4.593787,898,"Philadelphia Story, The (1940)",Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
829,4.591501,1199,Brazil (1985),Fantasy|Sci-Fi,"[Fantasy, Sci-Fi]"
2250,4.586872,3275,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller,"[Action, Crime, Drama, Thriller]"
4668,4.584939,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,"[Drama, Romance, Sci-Fi]"
1582,4.575860,2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,"[Comedy, Drama, Romance, War]"
6461,4.574715,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,"[Action, Crime, Drama, IMAX]"
1372,4.571230,2019,Seven Samurai (Shichinin no samurai) (1954),Action|Adventure|Drama,"[Action, Adventure, Drama]"
3747,4.567338,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,"[Adventure, Animation, Fantasy]"
659,4.565179,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance,"[Drama, Film-Noir, Romance]"
195,4.564009,246,Hoop Dreams (1994),Documentary,[Documentary]
827,4.563877,1193,One Flew Over the Cuckoo's Nest (1975),Drama,[Drama]
845,4.561811,1225,Amadeus (1984),Drama,[Drama]
868,4.561503,1252,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller,"[Crime, Film-Noir, Mystery, Thriller]"
831,4.561150,1201,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,"[Action, Adventure, Western]"
646,4.559912,908,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller,"[Action, Adventure, Mystery, Romance, Thriller]"
2905,4.554687,4226,Memento (2000),Mystery|Thriller,"[Mystery, Thriller]"
4559,4.550246,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,"[Action, Adventure, Drama, Fantasy]"
554,4.549103,741,Ghost in the Shell (KÃ´kaku kidÃ´tai) (1995),Animation|Sci-Fi,"[Animation, Sci-Fi]"
2761,4.548456,4011,Snatch (2000),Comedy|Crime|Thriller,"[Comedy, Crime, Thriller]"
851,4.540775,1233,"Boot, Das (Boat, The) (1981)",Action|Drama|War,"[Action, Drama, War]"
6427,4.540440,57669,In Bruges (2008),Comedy|Crime|Drama|Thriller,"[Comedy, Crime, Drama, Thriller]"
387,4.540044,475,In the Name of the Father (1993),Drama,[Drama]
876,4.536786,1262,"Great Escape, The (1963)",Action|Adventure|Drama|War,"[Action, Adventure, Drama, War]"
7106,4.536122,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,"[Adventure, Animation, Children, Comedy, Fanta..."
445,4.535584,541,Blade Runner (1982),Action|Sci-Fi|Thriller,"[Action, Sci-Fi, Thriller]"
6399,4.534439,56782,There Will Be Blood (2007),Drama|Western,"[Drama, Western]"
3402,4.534158,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,"[Adventure, Fantasy]"
847,4.533149,1228,Raging Bull (1980),Drama,[Drama]
833,4.531779,1203,12 Angry Men (1957),Drama,[Drama]
3938,4.530509,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,"[Action, Adventure, Crime, Drama, Thriller]"
4290,4.529618,6711,Lost in Translation (2003),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
5767,4.528199,38061,Kiss Kiss Bang Bang (2005),Comedy|Crime|Mystery|Thriller,"[Comedy, Crime, Mystery, Thriller]"
545,4.526382,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,"[Adventure, Animation, Comedy]"
858,4.525871,1242,Glory (1989),Drama|War,"[Drama, War]"
637,4.525118,899,Singin' in the Rain (1952),Comedy|Musical|Romance,"[Comedy, Musical, Romance]"
1475,4.524149,2160,Rosemary's Baby (1968),Drama|Horror|Thriller,"[Drama, Horror, Thriller]"
799,4.522597,1148,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,"[Animation, Children, Comedy, Crime]"
853,4.515967,1235,Harold and Maude (1971),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
651,4.511994,913,"Maltese Falcon, The (1941)",Film-Noir|Mystery,"[Film-Noir, Mystery]"

#### make a function out of it

## Evaluation:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
user_movies_matrix_eval = user_movies_matrix.fillna(0)
user_movies_matrix_eval

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606.0,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608.0,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def evaluation (data): 
  import numpy as np
  from sklearn.metrics import r2_score
  from sklearn.metrics import mean_absolute_error
  #  ratings positions in this dataset different than 0
  ratings_pos = pd.DataFrame(
      np.nonzero(np.array(data)), # find out all the positions different than 0
  ).T
  # split in train and test
  from sklearn.model_selection import train_test_split
  train_pos, test_pos = train_test_split(ratings_pos, 
                                       random_state=123, 
                                       test_size=.1)
  # create a train and a test with the information in those positions: 
  # 1: create an empty array full of 0, with the same shape as the users-items data
  train = np.zeros(data.shape)
  # 2: fill the set with the ratings based on the train positions
  for pos in train_pos.values: 
    index = pos[0]
    col = pos[1]
    train[index, col] = data.iloc[index, col]
  # 3: convert arrays to dataframe
  train = pd.DataFrame(train, 
                     columns=data.columns, 
                     index=data.index)
  # do the same with test data: 
  test = np.zeros(data.shape)
  for pos in test_pos.values: 
    index = pos[0]
    col = pos[1]
    test[index, col] = data.iloc[index, col]
  test = pd.DataFrame(test, 
                    columns=data.columns, 
                    index=data.index)
  # build similarity matrix for train set
  train_similarity = pd.DataFrame(cosine_similarity(train), 
                                columns=train.index, 
                                index=train.index)
  # define recommender function: 
  def recommender(index_pos, column_pos): 
    # build a df with the ratings for one place (column_name) and
    # the similarities to one user (index_name)
    results = (
      pd.DataFrame({
          'ratings': train.iloc[:,column_pos], 
          'similarities' : train_similarity.iloc[index_pos,:].tolist()
      })
    )
    # compute the weights
    results = results.assign(weights = results.similarities / (sum(results.similarities) -1))
    # compute the weighted ratings
    results = results.assign(weighted_ratings = results.ratings * results.weights)
    # return rating prediction for one user and one movie
    return results.weighted_ratings.sum()
 # use already defined recommender function to loop over all predictions for the test set and put them in a list 
  recs_test = []
  for row in test_pos.iterrows():
    recs_test.append(
        recommender(
            index_pos = int(row[1][0]), 
            column_pos = int(row[1][1])
        )
    )
  # make a df with positions of all the ratings in the test set,their true rating and prediction: 
  true_test_ratings = []
  for row in test_pos.iterrows():
    true_test_ratings.append(data.iloc[int(row[1][0]), int(row[1][1])])
  test_pos = test_pos.assign(true_rating = true_test_ratings, pred_rating = recs_test)

  # metrices: 
  mean_0_5 = test_pos.loc[test_pos.true_rating==0.5,:]["pred_rating"].mean()
  mean_1 = test_pos.loc[test_pos.true_rating==1,:]["pred_rating"].mean()
  mean_1_5 = test_pos.loc[test_pos.true_rating==1.5,:]["pred_rating"].mean()
  mean_2 = test_pos.loc[test_pos.true_rating==2,:]["pred_rating"].mean()
  mean_2_5 = test_pos.loc[test_pos.true_rating==2.5,:]["pred_rating"].mean()
  mean_3 = test_pos.loc[test_pos.true_rating==3,:]["pred_rating"].mean()
  mean_3_5 = test_pos.loc[test_pos.true_rating==3.5,:]["pred_rating"].mean()
  mean_4 = test_pos.loc[test_pos.true_rating==4,:]["pred_rating"].mean()
  mean_4_5 = test_pos.loc[test_pos.true_rating==4.5,:]["pred_rating"].mean()
  mean_5 = test_pos.loc[test_pos.true_rating==5,:]["pred_rating"].mean()
  mae = mean_absolute_error(test_pos.true_rating, test_pos.pred_rating)
  r2 = r2_score(test_pos.true_rating, test_pos.pred_rating)
  return test_pos, print(f'''mean for 0.5: {mean_0_5}
  mean for 1: {mean_1} 
  mean for 1,5: {mean_1_5} 
  mean for 2: {mean_2} 
  mean for 2.5: {mean_2_5}
  mean for 3: {mean_3} 
  mean for 3.5: {mean_3_5} 
  mean for 4: {mean_4} 
  mean for 4.5: {mean_4_5} 
  mean for 5: {mean_5} 
  mean absolute error {mae} 
  r2_score:{r2}''')

In [ ]:
evaluation (user_movies_matrix_eval)

mean for 0.5: 0.2795249848710661
  mean for 1: 0.2816322012365369
  mean for 1,5: 0.24108907710158475
  mean for 2: 0.3271610772467777
  mean for 2.5: 0.33133770048801847
  mean for 3: 0.4338723865617953
  mean for 3.5: 0.42295772612525984
  mean for 4: 0.5509659748559522
  mean for 4.5: 0.6178944810702489
  mean for 5: 0.7539454441741019
  mean absolute error 3.00644891379616
  r2_score:-8.263389365140958

(         0     1  true_rating  pred_rating
 16705  104  7306          5.0     0.137385
 3692    21  3012          4.5     0.672706
 74367  473  3578          3.0     0.038431
 49894  318  8945          4.5     0.064935
 84800  549  8532          4.5     0.351212
 ...    ...   ...          ...          ...
 80977  510  7749          3.5     0.503982
 36594  248  2460          4.5     0.540306
 46917  306   914          2.0     1.180652
 21614  139  4743          5.0     0.084731
 9421    62  8407          3.5     0.293125

 [10084 rows x 4 columns], None)

In [ ]:
ratings.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

###